
service-account-key-ftc-api-for-sheets-19d729dc80e8.json

all-matches.csv
errors.log
event-ids-to-get.txt
machinefile.csv
matches-per-team.csv
seasondata.json
team-list-filtered.csv

settings.config

secrets.txt


joblibcache/

__pycache__/*
debug/*
eventdata/*

opr/__pycache__/
opr/all-events/
opr/all-teams/
opr/teamstats/

opr/match-scores.json
opr/needed-events-raw.json
opr/needed-event-ids.txt
opr/match-scores.txt
opr/all-matches-per-team.txt
oppr/all-teamids-involved.txt

opr/opr-event-result-sorted.csv
opr/opr-global-result-sorted.csv
opr/opr-recent-result-sorted.csv
opr/opr-result-result-sorted.csv

