
service-account-key-*.json
service_account_key*.json
secrets.txt


__pycache__/

joblibcache/
app/generatedfiles/

.vscode/
.vs/

.venv/

*.ignore.*
.env

venvSetup.log

# Scalene profile output
profile.html
profile.json
